{% extends 'base.html' %}

{% block title%} {{user.username}}'s Info {% endblock %}


{% block content %}
<div class="container">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p>Email: {{user.email}}</p>
    <p>Username: {{user.username}}</p>
</div>

<form action="/logout" method="POST">
    <button class="btn btn-primary">Log Out</button>
</form>

<br>

<div class="container">
    <h1>Notes</h1>
    <ul>
        {% for note in notes%}
        <li>
            <form>
                <button formaction="/notes/{{note.id}}/update" class="far fa-edit"></button>
                <button formaction="/notes/{{note.id}}/delete" formmethod="POST" class="fas fa-trash"></button>
            </form>
            {{note.title}}
        </li>
        {% endfor %}
    </ul>
    <a href="/users/{{user.username}}/notes/add" class="btn btn-outline-info btn-sm">Add Note</a>
</div>

<form action="/users/{{user.username}}/delete" method="POST">
    <button class="btn btn-danger">Delete User</button>
</form>



{% endblock %}